@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 


.middlecolumn{
    /* border: 1px solid black; */
    font-family:'poppins-bold', sans-serif !important;
    width: 45%;
    top: 5%;
    
    left: 0px;
    right:300px; 
    margin: auto;
    position: absolute;
}
.right{
    /* border: 1px solid black; */
    padding: 10px;
    right: 5%;
    top:100px;
    width: 30%;
    height: 50%;
    position: absolute;
}
.right .card .card-body .input-group .btn{
    /* background-color: aqua; */
    right: 1%;
    top: 0px;
    position: absolute;
}
.right .card .card-body .input-group .form-control{
    width: 100%;
}

.card{
    width: 80%;
}

.posttext{ 
    /* border: 1px solid black; */
    top: 20px;
    height: 110px;
    position: relative;
}
.middlecolum .questionbox{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    top: 5px;
    width: 100%;
    position: absolute;
}

/* .questionbutton{
    right: 0px;
    bottom: 0px;
    position: absolute;
} */


.post{
    /* border: 1px solid black; */
    top: 90px;
    bottom: 200px;
    margin: auto;
    position: relative;
}


.btn-primary{
    float: right;
    /* height: 35px; */
}
/* .mb-4{
    position: relative;
    top: 15px;
    border: 0px;
    clear: both;
    right: 5px;
    
} */


.name{
    position: relative;
    top: -45px;
    left: 60px;
    font: size 11px;
}
/* .middlecolum .post .profilebar{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    border-radius: 50%;
} */

.box{
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}
.profilename{
    font-family:Arial, Helvetica, sans-serif;
    top: 15px;
    left: 50px;
    position: absolute;
}
.category{

    top: 25px;
    left: 50px;
    position: absolute;

}

.postshow{
    /* border: 1px solid rgb(145, 22, 22);
    border: 1px solid black; */
    border-radius: 10px;
    width: 99%;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 30px;
    bottom: 10px;
    left: 6px;
}
.kilimanjaro_area{
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: relative;
    margin: auto;

} 
.answer{
    width: 100%;
}
.questionbox {
    border-color: rgb(202, 202, 202);
    width: 100%;
}
.middlecolumn .post .ask{
    border-color: aqua;
    background-color: aqua;
    top: 110px;
    right: 0px;
    position: absolute;
}

.questionbutton button{
    border-color: rgb(44, 143, 209);;
    right: 0px;
    width: 150px;
    color: white;
    position: absolute;
    background-color: rgb(44, 143, 209);
}
.navigationber .profileicon{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.collapse .navbar-nav .na1{
    border: 1px solid black;
    right: 120px;
    position: absolute;
}
.collapse .navbar-nav .na2{
    border: 1px solid black;
    right: 50px;
    position: absolute;
}
.col-md-4{
    right: 0;
    position:absolute;
}
a{
    text-decoration: none;
}

.content{
    /* border: 1px solid black; */
    width: 100%;
}
/* .post.updaterelated{
        border: 1px solid black;
    
} */
.fullquestion{
    border: 1px solid rgb(120, 120, 120);
    width: 100%;
    left: 0;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}
.fullquestion .button{
    top:-40px;
    right: 0px;
    position: absolute;
}
.fullquestion .postcontent{
    /* border: 1px solid rgb(255, 0, 0); */
    top: 20px;
    width: 95%;
    left: 10px;
    position: relative;
}
.commentcontent{
    border: 1px solid black;
}


/* homepage css  */


.middlecolumn{
    /* border: 1px solid black; */
    /* background: black; */
    top: 55px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}
.middlecolumn .leftside img{
    /* border: 1px solid black; */
    top: 200px;
    /* bottom: 0px; */
    left: 0px;
    right: 0px;
    margin:auto;
    width: 75%;
    position:absolute;
}
.logo_img img {
    height: 60px;
}
nav.navbar {
    background: #009B46 !important;
}
li.nav-item a {
    color: #000 !important;
    font-size: 25px;
    font-weight: 700;
}

li.nav-item:hover a {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}
.hero-section {
      background: #595274;
      height: 100vh;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .hero-text {
      text-align: center;
  }
  .hero-text h1 {
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 20px;
  }
  .hero-text p {
      font-size: 1.5rem;
      margin-bottom: 30px;
  }
  .btn-custom {
      background-color: #009B46;
      color: #fff;
      font-size: 18px;
      padding: 12px 24px;
      border-radius: 50px;
      transition: 0.3s;
  }
  .btn-custom:hover {
      background-color: #007B33;
      color: #fff;
  }
  .navbar-custom {
      background-color: #009B46 !important;
      font-size: 20px;
  }
  footer {
      background-color: #343a40;
      color: #fff;
      padding: 30px 0;
  }
  footer .social-icons a {
      color: #fff;
      font-size: 18px;
      margin: 0 10px;
      transition: 0.3s;
  }
  footer .social-icons a:hover {
      color: #009B46;
  }
  footer.text-center p {
    margin: 0;
    padding: 0;
}
footer.text-center {
background: #009B46;
color: #000;
}
footer.text-center {
background: #009B46;
color: #000;
padding-top: 8px;
padding-bottom: 8px;
}
.features-section {
      padding: 60px 0;
      background-color: #f4f4f4;
  }
  .features-section h2 {
      font-size: 2.5rem;
      margin-bottom: 40px;
      text-align: center;
      font-weight: 700;
  }
  .features-section .feature-box {
text-align: center;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
height: 325px;
margin-top: 20px;
padding-top: 40px;
padding-left: 20px;
padding-right: 20px;
}
.features-section .feature-box img {
width: 125px;
margin-bottom: 20px;
}
.feature-box:hover img {
width: 170px;
transition: 1s all;
}
  .features-section .feature-box h4 {
      font-size: 1.5rem;
      margin-bottom: 15px;
  }

  .how-it-works {
      padding: 60px 0;
      background-color: #fff;
  }
  .how-it-works h2 {
      font-size: 2.5rem;
      margin-bottom: 40px;
      text-align: center;
      font-weight: 700;
  }
  .how-it-works .steps {
      text-align: center;
  }
  .how-it-works .steps img {
      width: 80px;
      margin-bottom: 20px;
  }
  .how-it-works .steps h4 {
      font-size: 1.5rem;
      margin-bottom: 10px;
  }
  .how-it-works .steps p {
      font-size: 1rem;
      color: #666;
  }

  .testimonials {
    padding: 60px 0;
    background-color: #595274;
    color: white;
}
  .testimonials h2 {
      font-size: 2.5rem;
      margin-bottom: 40px;
      text-align: center;
      font-weight: 700;
      color: white;
  }
  .testimonials .testimonial {
      text-align: center;
      padding: 30px;
      background-color: white;
      color: black;
      border-radius: 10px;
      margin: 20px;
  }
  .testimonials .testimonial img {
      width: 80px;
      border-radius: 50%;
      margin-bottom: 15px;
  }
  .testimonials .testimonial p {
      font-size: 1rem;
      color: #666;
  }